.searchSection{

    background-color: #dedede;
    height:70px;

}

.searchTextBox {
    height: 50px;
    width: 300px;
    margin: 2px;
}

.searchButton {
    height: 60px;
    width: 60px;
    margin: 2px;
    background-color: #626262;
}